@inherits LayoutComponentBase

<div class="page">
    <TopRow />
    <main>        
        <Navbar/>
        <article class="content p-4">
            @Body
        </article>
    </main>
</div>

<style>
    body {
        background-color: #EDE6E3;
    }
</style>