
<AuthorizeView>
    <Authorized>
        <AuthorizeView>
            <Authorized Context="authContext">
                <div class="navbar">
                    <NavLink href="/trauma-types">Trauma types</NavLink>
                    <NavLink href="/trauma-places">Trauma places</NavLink>
                    <NavLink href="/clinics">Clinics</NavLink>
                    <NavLink href="/cases">Cases</NavLink>
                    <NavLink href="/casequeue">Queue</NavLink>
                </div>                
            </Authorized>
        </AuthorizeView>
    </Authorized>
</AuthorizeView>