.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.drop-showed {
    display: block;
}

.drop-head {
    width: 100%;
}
